@media only screen and (max-width: 1600px) {
	header {
		height: 8vh;
		width: 78vw;
	}

	.info {
		width: 75vw;
	}

	.cardContainer {
		padding-left: 75px;
		width: 80vw;
		column-gap: 2vw;
		row-gap: 2.5vh;
	}

	.card {
		width: 22vw;
	}

	#name {
		font-size: 1.25rem;
	}

	.geographic {
		column-gap: 65px;
		margin-right: 15px;
	}

	.right {
		font-size: 1rem;
	}

	.right div {
		padding: 5px 8px;
	}

	.website {
		width: fit-content;
	}
}
